* {margin:0px;padding:0px;}

html {
    font-family: sans-serif;
    background-color: #335;
    font-size: 16px;
}

body {
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px 10px 20px 10px;
}

h2 {
    border-bottom: 1px solid black;
    display: block;
    font-size: 18px;
}

div#main {
    /*width: 711px;*/
    width: 713px;
    margin: 0px auto 0px auto;
    background-color: #fff;
    /*height: 385px;*/
    height: 420px;
}

div#warnings {
    color: red;
    font-weight: bold;
    height: 5px;
}

div#chat-section {
    float: left;
    margin: 10px;
}

div#users-section {
    float: left;
    margin: 10px;
}

div#profile-section {
    margin: 10px;
}

form#profile-form {
    margin-top:5px;
}

ul#users {
    margin-top:5px;
    list-style-type: none;
    width: 170px;
    height: 300px;
    overflow: auto;
}

div#messages {
    width: 332px;
    margin-top:5px;
    height: 300px;
    overflow: auto;
}

div#footer {
    text-align: right;
}

div.clear {
    clear: both;
}

input {width:155px; margin-bottom:5px;}

input[type="button"] {width:159px;}

input#text   {width:340px;}
input#talk   {margin-right:20px}
input#update {margin-right:10px}

/*
div#footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin: 10px 0px 30px 0px;
}

div#footer a {
    color: #fff;
}

progress#join-form{width:159px;}

left:260px;top:12px;

form {padding-top:10px;
      width:250px;
      text-align:right;}

#picture{
    width:146px;
    height:113px;
}
*/
         

